<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="title-box text-center pt-5">
        <h3 class="title-a">
          Cambiar Contraseña
        </h3>
        <p class="subtitle-a">
          Cambiar contraseña al usuario <strong>{{userService.selectedUser.userName}}</strong>
        </p>
        <div class="line-mf"></div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-4">
      <div class="card mb-3 shadow">
        <div class="card-body text-center ">
          <img class="mb-3 mt-4" src='{{img}}' width="160" height="160" />
        </div>
      </div>

    </div>
    <div class="col-lg-8">

      <div class="row">
        <div class="col">
          <div class="card shadow mb-3">
            <div class="card-body">
              <form (ngSubmit)="saveUser( f )" #f="ngForm">
                <div class="form-row row">

                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="mt-2"><strong>Contraseña *</strong> </label>
                      <div class="row">
                        <div class="col-6">
                          <input type="password" class="form-control" [(ngModel)]="password"
                            minlength="8" [class.is-invalid]="pass.invalid && pass.touched" required
                            placeholder="Contraseña" name="pass" #pass="ngModel">
                        </div>
                        <div class="col-6">
                          <input type="password" class="form-control" [(ngModel)]="repeatpassword" minlength="8"
                            pattern="{{password}}"
                            [class.is-invalid]="passR.invalid && passR.touched" required
                            placeholder="Repetir Contraseña" name="passR" #passR="ngModel">
                        </div>
                        <small *ngIf="passR.invalid  && passR.touched && pass.touched" style="color: red;">Las contraseñas no
                          coinciden. (Debe tener mínimo 8 caracteres)</small>
                      </div>
                    </div>
                  </div>
                </div>

                <button class="button mt-4" type="submit">Guardar Cambios</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
