<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="title-box text-center pt-5">
            <h3 class="title-a">
                Configurar pedido
            </h3>
            <p class="subtitle-a">
                Complete todos los datos para realizar su pedido (los campos con * son requeridos)
            </p>
            <div class="line-mf"></div>
        </div>
    </div>
</div>
<div class="d-flex card">
  <form (ngSubmit)="onSubmit( f )"  #f="ngForm">
   
      <label class="fname"><strong>ID *</strong>  </label>
      <input type="text" 
      class="form-control" 
      [(ngModel)]="order.orderId" 
      [class.is-invalid]="orderId.invalid && orderId.touched"
      required 
      placeholder="Identificador de Pedido"
      name="orderId"
      #orderId = "ngModel">
    
 
      <label class="fname"><strong>Cliente</strong> </label>
      <input type="text" 
      class="form-control" 
      [(ngModel)]="order.orderClientName"         
      placeholder="Nombre del Cliente"
      name="orderClientName"
      #orderClientName = "ngModel">
    
    
      <label class="lname"> <strong>Recibe *</strong> </label>
      <input type="text" 
      class="form-control" 
      [(ngModel)]="order.orderRecieverName" 
      [class.is-invalid]="orderRecieverName.invalid && orderRecieverName.touched"
      required 
      placeholder="Nombre del que Recibe"
      name="orderRecieverName"
      #orderRecieverName = "ngModel">
 
   
    
      <label> <strong>Provincia</strong>  </label>
      <input  [(ngModel)]="order.orderProvince"  
      
      class="form-select" 
      name="orderProvince"
      disabled
      [class.is-invalid]="orderProvince.invalid && orderProvince.touched"
      #orderProvince="ngModel"
      
      >

                        
                       
                    
   
 
      <label> <strong>Municipio</strong>  </label>
      <select type="text" 
      class="form-select"
      [(ngModel)]="order.orderMunicipio"       
      [class.is-invalid]="orderMunicipio.invalid && orderMunicipio.touched"
      required 
      placeholder="Municipio"
      name="orderMunicipio"
      #orderMunicipio = "ngModel">
      
<option *ngFor="let m of municipios">
  {{m.municipio}}
</option>
</select>
<label><strong>Localidad</strong>  </label>
<div class="row">
  <div class="col-md-12">
    <input type="text" 
  class="form-control" 
  [(ngModel)]="localidad" 
  [class.is-invalid]="localidadV.invalid && localidadV.touched"  
  placeholder="Localidad"
  name="localidad"
  #localidadV = "ngModel">
  </div>
 </div>

  
  
      <label><strong>Dirección *</strong>  </label>
      <div class="row">
        <div class="col-md-4">
          <input type="text" 
        class="form-control" 
        [(ngModel)]="streetNumber" 
        [class.is-invalid]="streetNumberV.invalid && streetNumberV.touched"
        required 
        placeholder="Número de la casa"
        name="streetNumber"
        #streetNumberV = "ngModel">
        </div>
        <div class="col-md-4">
          <input type="text" 
        class="form-control" 
        [(ngModel)]="street" 
        [class.is-invalid]="streetV.invalid && streetV.touched"
        required 
        placeholder="Calle principal"
        name="street"
        #streetV = "ngModel">
        </div>
        <div class="col-md-4">
          <input type="text" 
        class="form-control" 
        [(ngModel)]="streetB" 
       
        placeholder="Entre calles"
        name="streetB"
        #streetBV = "ngModel">
        </div>        
      </div>
     
 
   
      <label> <strong>Referencia</strong> </label>
      <input type="text" 
      class="form-control" 
      [(ngModel)]="order.orderReference" 
    
      placeholder="Ingrese un lugar de referencia"
      name="orderReference"
      #orderReference = "ngModel">      
  
    
 
      <div class="col-md-12">
        <div class="row">
          <label> <strong>Teléfonos *(requerido uno de los dos)</strong>  </label>
        <div class="col-md-6"> <input type="text" 
          class="form-control" 
          [(ngModel)]="order.orderMobile" 
          [class.is-invalid]="orderMobile.invalid && orderMobile.touched"          
          placeholder="Teléfono Móvil"
          [pattern]="mobNumberPattern" 
          [required]="!order.orderPhone"
          name="orderMobile"
          #orderMobile = "ngModel">
          <small *ngIf="orderMobile.invalid && orderMobile.touched" class="form-text text-danger">No es un número de teléfono válido. (Debe comenzar con 5 y tener 8 caracteres)</small>
        </div>
        <div class="col-md-6"> <input type="text" 
          class="form-control" 
          [(ngModel)]="order.orderPhone" 
          [class.is-invalid]="orderPhone.invalid && orderPhone.touched"           
          placeholder="Teléfono Fijo"
          [pattern]="fixNumberPattern" 
          [required]="!order.orderMobile"
          name="orderPhone"
          #orderPhone = "ngModel">
          <small *ngIf="orderPhone.invalid && orderPhone.touched" class="form-text text-danger">No es un número de teléfono válido. (Debe tener 8 caracteres)</small>
          </div>
        </div>
      </div>
      <div class="col-md-12">
       
          <label> <strong>Nota del cliente</strong>  </label>
          <textarea [(ngModel)]="order.orderNote" 
          name="orderNote" 
          placeholder="Escriba una nota ..."
          class="form-control"></textarea>
        
      </div>
  <div class="Yorder">
    <table>
      <tr>
        <th colspan="2">Productos</th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let product of products">
        <td><img class="border"   src="{{product.picture._url}}" alt=""></td>
        <td>{{product.name}}</td>
        <td>${{product.price}}</td>
       
      </tr>
     
      <tr>
        <td> <b>Coste de Transportación:</b> ${{transportCost}}</td>
        <td><b>Total: </b></td>
        <td>${{total}}</td>
      </tr>
     
      </table><br>    
      <button type="submit" >Completar Pedido</button>  
    </div>
</form>
 </div>
</div>