<!-- ======= Portfolio Section ======= -->
<section id="work" class="container portfolio-mf sect-pt4 pb-5 route" >
  
        <div class="row" *ngIf="who!='order'">
            <div class="col-sm-12">
                <div class="title-box text-center pt-5">
                    <h3 class="title-a">
                        Productos
                    </h3>
                   
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>       
        
        <div class="btn-toolbar product__toolbar"  role="toolbar" aria-label="Toolbar with button groups">      
          
          
           
        
          <div class="input-group" >
            <span class="input-group-text" id="basic-addon1"> <i class="fa fa-search"></i> </span>
            <input type="text" class="form-control" placeholder="Busca por nombre" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="term">
          </div>
         
         
        </div>
        <div class="row">
           
            <div class="order__spinner" *ngIf="loading">
              <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="selectedCategory == 'Restaurante 1' && selectedProvince == 'Matanzas'" class="container text-center mt-5">                         
              <h3><b>ALCANCE:</b> CARDENAS -STA MARTA-GUASIMAS-BOCA-CANTEL-LA CONCHITA-MATANZAS CIUDAD-GUANABANA</h3> 
              <h3><b>HORARIO DE ENTREGAS:</b> 11AM - 7PM</h3> 
          </div> 
            <div
            class="col-sm-3 mb-2"
            *ngFor="let product of products | myFilter:term:selectedCategory:['name']:['category']; let i = index">
            
            <div class="item" >
              <div class="mb-r">
                <!--Card-->
                <div class="card card-cascade wider shadow" [class.active]='!product.attributes.state'>
                  <!--Card image-->
                  <a >
                    <div >
                      <img
                      src={{product.attributes.picture._url}}
                        class="img-fluid"
                        alt=""
                        
                      />
                      <a>
                        <div
                          class="mask waves-effect waves-light"
                          mdbRippleRadius
                        ></div>
                      </a>
                    </div>
                  </a>
                  <!--/.Card image-->
                  <!--Card content-->
                  <div class="card-body text-center no-padding">
                    <!--Category & Title-->
                   
                      <h4><b>{{ product.attributes.description}}</b></h4>
                      <h5 *ngIf="product.attributes.name">{{ product.attributes.name}}</h5>
                   
                    <p class="card-title">
                      <strong>
                        <a
                          
                          routerLinkActive="router-link-active"
                          >{{ product.attributes.province }}</a
                        >
                      </strong>
                    </p>
                    <!--Description-->
                    <p class="card-text">{{ product.attributes.category }}</p>
                    <!--Card footer-->
                    <div class="card-footer">
                      <span class="right">
                        <div class="product__checkbox"                      
                      >
                      <input type="checkbox" [value]="product.id" [checked]="!product.attributes.state"  (change)="changeState(product.id, product.attributes.state)" />
                      </div>
                        <!-- <a
                          placement="top"
                          mdbTooltip="Remove Product"
                          container="body"
                          *ngIf="authService.isAdmin$ | async"
                          (click)="removeProduct(product.$key)"
                        >
                          <i class="fa fa-trash"></i>
                        </a> -->
                      </span>
                    </div>
                  </div>
                  <!--/.Card content-->
                </div>
                <!--/.Card-->
              </div>
            </div>
          </div>
            

        </div>
   
</section><!-- End Portfolio Section -->