<div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="title-box text-center pt-5">
              <h3 class="title-a">
                  Crear Combo
              </h3>
              <p class="subtitle-a">
                  Pongale nombre a su combo
              </p>
              <div class="line-mf"></div>
          </div>
      </div>
  </div>
  <div class="row justify-content-center  mt-5">
    <div class="col-lg-4">
        <div class="card mb-3 shadow">
          <div class="card-body text-center "><img class="mb-3 mt-4" src='{{img}}'  width="160" height="160" />
            <input type="file" 
            name="photo"          
            accept="image/*"
            [(ngModel)]="photosrc" 
            (change)="photo($event)" 
            class="form-control mb-4"  >
           
        </div>
        </div>
  
      </div>
  <div class="d-flex card shadow col-lg-8">
   
    <form  (ngSubmit)="saveCombo( f )" #f="ngForm">
        <div class="form-row row">
            <div class="col">
                <div class="form-group">
                    <label for="orderId"><strong>Nombre</strong></label>
                    <input type="text" 
                                     class="form-control" 
                                     [(ngModel)]="product.productName" 
                                     [class.is-invalid]="productName.invalid && productName.touched"
                                     required 
                                     placeholder="Nombre del Combo"
                                     name="productName"
                                     #productName = "ngModel" />
                                    </div>
            </div>
       
        </div>
            <div class="form-row row">
                <div class="col">
                    <div class="form-group">
                  <label for="price"><strong>Precio</strong></label>
                  <input type="text" 
                             class="form-control" 
                             [(ngModel)]="product.productPrice" 
                             [class.is-invalid]="productPrice.invalid && productPrice.touched"
                             required 
                             placeholder="0"
                             name="productPrice"
                             #productPrice = "ngModel" />
                    </div>
                </div>
                <div class="col" *ngIf="admin">
                    <div class="form-group">
                  <label for="cost"><strong>Costo</strong></label>
                  <input type="text" 
                             class="form-control" 
                             [(ngModel)]="product.productCost" 
                             [class.is-invalid]="productCost.invalid && productCost.touched"
                             required 
                             placeholder="0"
                             name="productCost"
                             #productCost = "ngModel" />
                </div>
                </div>
                <div class="form-row">
                <div class="col">
                  <div class="form-group"><label for="last_name"><strong>Provincia o Región</strong><br /></label>
                    <select  [(ngModel)]="product.productProvince"  
                            class="form-select" 
                            name="selectProvince"
                            [class.is-invalid]="selectProvince.invalid && selectProvince.touched"
                            #selectProvince="ngModel"
                            required
                            >
                      
                      <option *ngFor="let p of provinces">
                        {{p.name}}
                      </option>
                    </select></div>
                </div>
                </div>
                <div class="form-group ">
                    <label for="first_name"><strong>Descripción</strong><br /></label>
                    <textarea [(ngModel)]="product.productDescription" 
                              name="description" 
                              placeholder="Escriba una descripción ..."
                              class="form-control"></textarea></div>
            
        <div class="row">
            <table class="table text-center">
                <tr>
                  <th colspan="2">Productos</th>
                
                </tr>
                <tr *ngFor="let product of products">
                  <td><img class="border"   src="{{product.picture._url}}" alt=""></td>
                  <td>{{product.name}}</td>
                  <td>${{product.price}}</td>
                  
                </tr>
               
                <tr>
                  <td></td>
                  <td>Subtotal</td>
                  <td>${{total}}</td>
                </tr>
               
              </table><br>
        </div>
      
    </div>
      <button type="submit"  >Crear Combo</button>
    </form>
    </div>
</div>
  </div>
